@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-field {
    @apply w-full px-4 py-3.5 rounded-lg border border-gray-300 focus:border-[#00A99D] focus:ring-1 focus:ring-[#00A99D] bg-[#F8F9FA] focus:bg-white outline-none transition-all placeholder-gray-400 text-gray-800 text-[15px];
  }

  .btn-primary {
    @apply bg-[#00A99D] hover:bg-[#009287] text-white font-semibold rounded-xl flex items-center justify-center transition-all;
  }

  .label-caps {
    @apply uppercase tracking-[0.1em] font-bold;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
